<div id="fullpage">
	<div class="section" id="intro">
		<div class="container">
			<div class="row text-center-mobile">
				<div class="col-12 col-sm-12 col-md-6">
					<h2 class="font-main"><span id="typed" class="font-typed"></span> 쇼핑하세요?</h2>
					<div style="margin-top: 20px;">
						<span class="weight_black">캐치딜</span>은 오늘의 특가 정보를 홈페이지 플랫폼 별로 수집 후,<br/>
						특가 상품에 대해 알려주는 앱서비스 입니다.
					</div>
					<div class="justify-center-mobile download-collect">
						<a href="https://apps.apple.com/kr/app/%EC%BA%90%EC%B9%98%EB%94%9C/id1493914556"><div class="download_apple button-size"></div></a>
						<a href="https://play.google.com/store/apps/details?id=com.catchdeal"><div class="download_google button-size space-left"></div></a>
					</div>

					<div class="swiper-container d-none d-xl-block">
						<div class="swiper-wrapper">
							<% @hitList.each do |item| %>
								<div class="swiper-slide">
									<%= link_to item.url, style: "text-decoration: none", target: "_blank" do %>
										<div class="row prd_center">
											<div class="col-md-2 section-ex-product_img"><img class="prd_img" src="<%= item.image_url %>"></div>
											<div class="col-md-10 prd_black">
												<div class="col-md-12"><%= item.title %></div>
												<div class="col-md-12 prd_time"><%= time_ago_in_words(item.date) %> 전</div>
												<div class="row" style="margin-left: 0px;">
													<div class="col-md-10">
														<%= content_tag(:span, " #{item.comment}", class: "far fa-comment-alt") %>
														<%= content_tag(:span, " #{item.like}", class: "prd_info far fa-heart") %>
														<%= content_tag(:span, " #{item.view}", class: "prd_info far fa-eye") %>
													</div>
													<div class="col-md-2"><%= content_tag(:span, " #{item.website}", class: "badge badge-success") %></div>
												</div>
											</div>
										</div>
									<% end %>
								</div>
							<% end %>
						</div>
						<!-- Add Pagination -->
						<div class="swiper-pagination"></div>
					</div>

					<!-- Initialize Swiper -->
					<script>
						var swiper = new Swiper('.swiper-container', {
							spaceBetween: 30,
							direction: 'vertical',
							centeredSlides: true,
							autoplay: {
								delay: 2500,
								disableOnInteraction: false,
							},
							pagination: {
								el: '.swiper-pagination',
								clickable: true,
							},
						});
					</script>
				</div>
				<div class="col-12 col-sm-12 col-md-6 wow fadeInUp">
					<img class="main-smartphone" src="<%= asset_path('img/app_sample.png') %>">
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="sale">
		<div class="container" style="">
			<div class="section-sale row">
				<div class="col-12 col-md-12">
					<div>
						<img class="bone_length" src="<%= asset_path('img/bone_empty.png') %>">
					</div>
					<div class="font-subpage-title">할인을 가져올개!</div>
					<div class="font-subpage-subtitle">
						오늘의 할인 소식이 궁금하세요?<br/>
						캐치는 <span class="weight_black">뽐뿌, 클리앙, 루리웹, 딜바다</span> 플랫폼 에서 갖가지 할인 소식을 가져옵니다.<br/><br/>
						이제 더이상 정가에 사지 말고, 캐치가 물어오는 정보를 보고 싸게싸게 구입해봐요!
					</div>
				</div>
			</div>
		</div>

		<div class="catch-hand-sale" style="padding-top: 500px">
			<div class="box fade-in-infinity three sale-text-3">30% 할인</div>
			<div class="box fade-in-infinity two sale-text-2">-13000원</div>
			<div class="box fade-in-infinity one sale-text-1">- 2500원</div>
		</div>
	</div>

	<div class="section" id="bookmark">
		<div class="container">
			<div class="no-vertical_center row">
				<div class="col-12 col-md-7">
					<div>
						<img class="bone_length" src="<%= asset_path('img/bone_empty.png') %>">
						<img class="bone_length" src="<%= asset_path('img/bone_empty.png') %>">
					</div>
					<div class="font-subpage-title">북마크 할개!</div>
					<div class="font-subpage-subtitle">
						'지금은 못 사지만 다음에 사자' 란 마음으로 콕 찝어둔 상품.<br/>
						그 상품, 캐치가 기억해낼게요!<br/><br/>
					</div>
				</div>

				<div class="col-12 col-md-5">
					<div class="catch-find"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="alarm">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div>
						<img class="bone_length" src="<%= asset_path('img/bone_empty.png') %>">
						<img class="bone_length" src="<%= asset_path('img/bone_empty.png') %>">
						<img class="bone_length" src="<%= asset_path('img/bone_empty.png') %>">
					</div>
					<div class="font-subpage-title">떳다, 알려줄개!</div>
					<div class="font-subpage-subtitle">
						내가 원하는 키워드만 등록해놓고, 키워드에 맞는 상품이 뜨게 되면<br/>
						떳다 정보를 알려주는 서비스!
					</div>
				</div>

				<div class="col-md-5">
					<div class="text-center-mobile">
						<div class="catch-alarm">
							<div class="box fade-in-infinity two alarm-text-2">[신용카드] 30% Discount</div>
							<div class="box fade-in-infinity one alarm-text-1">위메프 [신용카드] 결제시 할인</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section" id="bookmark">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div>
						<img class="bone_length" src="<%= asset_path('img/bone_empty.png') %>">
						<img class="bone_length" src="<%= asset_path('img/bone_empty.png') %>">
						<img class="bone_length" src="<%= asset_path('img/bone_empty.png') %>">
						<img class="bone_length" src="<%= asset_path('img/bone_empty.png') %>">
					</div>
					<div class="font-subpage-title">핫딜 잡으러 가개</div>
					<div class="font-subpage-subtitle">
						지금 캐치랑 핫딜 잡으러 가보실래요?<br/>
						캐치는 주인님을 기다리고 있개!
					</div>
				</div>

				<div class="col-md-5">
					<div class="text-center-mobile download-collect-ending">
						<div class="catch-hand-right"></div>
						<div class="catch-hand-left"></div>
						<a href="https://apps.apple.com/kr/app/%EC%BA%90%EC%B9%98%EB%94%9C/id1493914556"><div class="download_apple button-size"></div></a>
						<a href="https://play.google.com/store/apps/details?id=com.catchdeal"><div class="download_google button-size space-left"></div></a>
					</div>
				</div>
			</div>
		</div>

		<div style="background-color: #d6d6d6; padding: 30px; position: absolute; width: 100%; bottom: 0px;">
			<div class="container">
				<div class="row">
					<div class="col-5 col-md-2"><span class="footer-title">서비스 사용문의</span></div>
					<div class="col-7 col-md-10"><%= link_to "shsdf302@gmail.com", "mailto: shsdf302@gmail.com", style: "text-decoration: none" %></div>
				</div>
				<div class="row" style="margin-top: 15px;">
					<div class="col-5 col-md-2"><span class="footer-title">제작</span></div>
					<div class="col-md-10 d-none d-md-block">
						<span>samslow(Client) <%= link_to " ", "https://samslow.github.io", class: "link_gray fab fa-github", target: "_blank" %></span>
						<span style="margin-left: 10px; margin-right: 10px">|</span>
						<span>KCM(Server Developer) <%= link_to " ", "https://kbs4674.tistory.com", class: "link_gray fab fa-blogger", target: "_blank" %> <%= link_to " ", "https://github.com/kbs4674", class: "link_gray fab fa-github", target: "_blank" %></span>
						<span style="margin-left: 10px; margin-right: 10px">|</span>
						<span style="margin-left: 10px; margin-right: 10px">inhigh(Designer) <%= link_to " ", "https://www.facebook.com/profile.php?id=100001742737747", class: "link_gray fab fa-facebook-square", target: "_blank" %></span>
					</div>
					<div class="col-7 d-md-none"><%= link_to "samslow", "https://samslow.github.io", class: "link_gray" %>, <%= link_to "inhigh", "https://www.facebook.com/profile.php?id=100001742737747", class: "link_gray" %>, <%= link_to "KCM", "https://kbs4674.tistory.com", class: "link_gray" %></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var myFullpage = new fullpage('#fullpage', {
		navigation: true,
		navigationPosition: 'right',
		navigationTooltips: ["다운로드", "특가 정보 수집", "북마크", "키워드 알람"]
	});
</script>

<div id="promotion_list">
	<p>정가에</p>
	<p>할인 없이</p>
	<p>제 값 내고</p>
</div>