<div class="container">
    <div class="catch-header">
        <div class="row wow fadeInUp">
            <div class="offset-2 offset-md-4 col-4 col-md-1"><img src="<%= asset_path 'logo.png' %>" style="width: 100px;"></div>
            <div class="col-5 col-md-3 catch-hello">안녕하세요, :D<br/>캐치에요!</div>
        </div>
        
        <div class="contributor-title">- Contributor -</div>
        <div style="margin-top: 20px"><span>( 🦁 서현석 <span class="fe">FE · React Native</span> )</span> <span>( 🐹 이인하 <span class="fe">FE · Design</span> )</span> <span>( 🦊 김철민 <span class="be">BE · Crawl/Server</span> )</span></div>
    
        <div style="margin-top: 20px">해당 페이지는 관리자님의 이해를 돕기위해 제작된 페이지 입니다.</div>
    </div>
    
    <% if user_signed_in? %>
    <div class="login-status-box">
        <div><span style="font-weight: bold;">로그인</span> <span style="margin-left: 20px; margin-right: 20px;">|</span> <span><%= current_user.email.split("@")[0].truncate(12, omission: '...') %></span> <span style="margin-left: 30px;"><%= link_to "로그아웃", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-info" %></span></div>
    </div>
    <% else %>
        로그인부터 해주세요 :D
    <% end %>
    
    <h2 class="instruct-title">1. 관리 페이지</h2>
    <div class="instruct-content">
        <div>1. Admin Dashboard<span style="margin-left: 20px;"><%= link_to "[클릭]", rails_admin_path, target: "_blank" %></span></div>
        <div>2. 공지사항<span style="margin-left: 20px;"><%= link_to "[클릭]", notices_path, target: "_blank" %></span></div>
        <div>3. Heroku<span style="margin-left: 20px;"><%= link_to "[클릭]", "https://dashboard.heroku.com/apps/popstar-momi", target: "_blank" %></span></div>
    </div>
    
    <h2 class="instruct-title">2. URI Parameter Role 설명</h2>
    <div class="instruct-content">
        <div>1. page 별 상품 조회 json output<span style="margin-left: 20px;"><%= link_to "[클릭]", hit_products_condition_path(:page => 1), target: "_blank" %></span></div>
        <div class="code-block">
            <%= request.protocol + request.host %>/hit_products/condition?page=1
        </div>
        
        <div class="parameger-block">
            <div class="block-title">Parameter 규칙 설명</div>
            <div>page : 페이지 No. (웹 출처에 상관없이 페이지 당 20개 단위의 상품을 보여줍니다.)</div>
        </div>
    </div>
    
    <div class="instruct-content">
        <div>2. 사이트 별 전체 상품 json output<span style="margin-left: 20px;"><%= link_to "[클릭]", hit_products_web_products_list_path(:web => "클리앙"), target: "_blank" %></span></div>
        <div class="code-block">
            <%= request.protocol + request.host %>/hit_products/web_products_list?web=클리앙
        </div>
        
        <div class="parameger-block">
            <div class="block-title">Parameter 규칙 설명</div>
            <div>web : 크롤링 출처 (크롤링 웹 이름의 출처에 따른 전체 상품을 보여줍니다.)</div>
            <ul>
                <li style="list-style: square;">web : 클리앙, 루리웹, 딜바다, 뿜뿌</li>
            </ul>
        </div>
    </div>
    
    <div class="instruct-content">
        <div>3. 전체 상품 score 순위 json output<span style="margin-left: 20px;"><%= link_to "[클릭]", hit_products_rank_path, target: "_blank" %></span></div>
        <div class="code-block">
            <%= request.protocol + request.host %>/hit_products/rank
        </div>
        
        <div class="parameger-block">
            <div class="block-title">Parameter 규칙 설명</div>
            <div>-</div>
        </div>
    </div>
    
    <div class="instruct-content">
        <div>4. 상품 탐색 json output<span style="margin-left: 20px;"><%= link_to "[클릭]", hit_products_search_path(:word => "할인"), target: "_blank" %></span></div>
        <div class="code-block">
            <%= request.protocol + request.host %>/hit_products/search?word=할인
        </div>
        
        <div class="parameger-block">
            <div class="block-title">Parameter 규칙 설명</div>
            <div>word : 탐색 단어 (전체 상품 중, title을 기준으로 탐색하고자 하는 데이터를 찾습니다.)</div>
        </div>
    </div>
    
    <div class="instruct-content">
        <div>5. 공지사항 json output<span style="margin-left: 20px;"><%= link_to "[클릭]", "/notice.json", target: "_blank" %></span></div>
        <div class="code-block">
            <%= request.protocol + request.host %>/notice.json
        </div>
        
        <div class="parameger-block">
            <div class="block-title">Parameter 규칙 설명</div>
            <div>-</div>
        </div>
    </div>
    
    <h2 class="instruct-title">3. Github</h2>
    <div class="instruct-content">
        <div>1. 프론트엔드 (서현석)<span style="margin-left: 20px;"><%= link_to "[클릭]", "https://github.com/kbs4674/popStarMomi-BE-V2", target: "_blank" %></span></div>
        <div>2. 백엔드 (김철민)<span style="margin-left: 20px;"><%= link_to "[클릭]", "https://github.com/samslow/catchDeal-FE", target: "_blank" %></span></div>
    </div>
    
    <div style="margin-bottom: 100px"></div>
</div>